/* Colours */

$color-grey-dark:		#333333;
$color-grey-pale:		#ECE9E8;

$color-cyan:			#66CCFF;
$color-blue-sky:		#6699FF;

$color-white:			#FFFFFF;

/* Fonts */

$font-default: 			"museo", serif;

/* Dimensions */

$spacing:				20px;
