.client-wrap {
	text-align: center;
}

.client__item {
	@include inline-block;
	margin: 0 $spacing;

	@media screen and (max-width: 670px) {
		margin-bottom: $spacing;
	}
}

.client__item .logo {
	max-height: 35px;
	width: auto;
}