.site-row--contact {

}

.module--contact {
	@include column(4);
}

.module--contact .input-wrap {
	margin-bottom: $spacing / 2;
}

.module--contact .input--submit {
	float: right;
}

.map {

	height: 216px;
	margin-bottom: $spacing / 2;
}

.link.link--drop-in {
	display: block;
	float: right;
	margin: 0;
}

.nav--contact {}

.nav--contact .nav__item {
	display: block;
	margin-bottom: $spacing;

	font-size: 1.2em;

	&:hover {
		text-decoration: none;
	}
}

.nav--contact .nav__item .icon {
	font-size: 1.2em;
	margin-right: $spacing / 2;


}

