.nav {
	display: block;
}

.nav--main {
	text-align: center;
}

.nav--main .nav__item {
	@include inline-block;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0 ($spacing / 2) $spacing;
}

.nav--social .nav__item {
	font-size: 2.5em;
	margin-right: $spacing / 2;

	&:hover {
		text-decoration: none;
	}
}